{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Previous Thought Lounge Events</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active"><a href="#">Random Date</a></li>
              <li role="presentation"><a href="#">Random Date</a></li>
              <li role="presentation"><a href="#">Random Date</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}