{% extends "host_new.html" %}

{% block admin %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-subtitle">
            Pending Host Applications
        </h4>
    </div>
    <div id="potential-hosts"></div>
    <script id="potential-hosts-template" type="x-tmpl-mustache">
    {% raw %}
    {{#items}}
        <form class="potential-host-form">
            <div class="list-group-item"> 
                <small>
                    <strong>
                        {{ firstName }} {{ lastName }}
                    </strong>
                    <br>
                    {{#hostApplications.items}}
                        <div class="host-application" data-host-application-href="{{ href }}">
                            {{#application}}
                            {{.}} <br>
                            {{/application}}
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="potential-host-approve-btn btn btn-sm btn-success"> 
                                    Approve
                                </button>
                                <button type="button" class="potential-host-deny-btn btn btn-sm btn-danger"> 
                                    Deny
                                </button>
                            </div>
                        </div>
                    {{/hostApplications.items}}
                </small>
            </div>
        </form>
    {{/items}}
    {{^items.length}}
        <a class="list-group-item" href="#">
            <strong>
                No applications yet.
            </strong>
        </a>
    {{/items.length}}
    {% endraw %}
    </script>
</div>
{% endblock %}

{% block first %}
<a id="hostLoungeAnchor" href="#">
<button type="#" class="btn btn-primary btn btn-block top-buffer userInfo">
    Sign Up to Host
</button>
</a>
{% endblock %}
{% block second %}
<a href="/accounts">
<button type="button" class="btn btn-success btn btn-block top-buffer userInfo">
    Manage Accounts
</button>
</a>
{% endblock %}
{% block third %}
<button id="account-modal-btn" type="button" class="btn btn-default btn btn-block top-buffer userInfo" data-toggle="modal" data-target="#account-modal">
    <i class="fa fa-cog fa-fw"></i>
    Account
</button>
{% endblock %}

{% block adminjs %}
<script src="{{ url_for('static', filename = 'js/admin.js') }}"></script>
{% endblock %}
