{% extends "base.html" %}

{% block title %}
    Contact 
{% endblock %}

{% block content %}

<div class="container" id="contactcontainer">
	<div class="row text-center">
		<div class="col-md-6 col-md-offset-3" style="margin-bottom: 60px;">
            <h2>Contact the <span class="header-primary">organization</span></h2>
            <br>
			<h4>thoughtloungeucb@gmail.com</h4>
            <hr>
			<h5>or</h5>
            <hr>
			<h4><span class="header-primary">Axel Cramer</span>: axelzcramer@gmail.com</h4>
			<br>
			<h3>Say Hi to Us On Social Media</h3>
			<a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/thoughtlounge/">
	        	<i class="fa fa-facebook"></i> Thought Lounge Page on Facebook
	      	</a>
	      	<a class="btn btn-block btn-social btn-tumblr" href="http://www.thethoughtloungeatucb.tumblr.com/">
	        	<i class="fa fa-tumblr"></i> Thought Lounge Blog on Tumblr
	      	</a>
		</div>
	</div>
</div>

{% endblock %}
