{% extends "base.html" %}

{% block content %}
<img id="thoughtlounge_graphic" src="static/img/bannerwhite.png">
<div id="intro-section">
	<img id="thoughtlounge_graphic" src="static/img/clouds.jpg">
	<p><u>6 loungers. 6 topics of utmost interest. 12 minutes per topic. 12 minutes to connect.</u></p>
	<p><u>What from infinity to beyond makes you stoked?</u></p>
	<div>
		<a id="misc_descriptions_link" href="#misc_descriptions">Ok... so what is it?</a>
	</div>

</div>
<div id="scroll-div_wrapper">
	<div id="available_tls">
		<p>When are you coming?</p>
		<ul>
		{% for lounge in lounges %}
		<li>{{lounge.topic}}</li>
		{% endfor %}
		</ul>
	</div>
	<div id="newsfeed">
		<p>News feed.</p>
		<p>Lorem ipsum dolor sit amet, ei per doming lobortis adversarium. Ut quis dicunt eam, nam legere audire no. Ex per exerci pertinax forensibus, est soluta vituperatoribus at. Ad vim tantas ridens disputando, mei detracto persecuti te, et has erat saepe eligendi.</p>
		<p>Quo et partem adipisci tincidunt. Magna aperiri est an, ea has solet decore. An vel omnesque imperdiet. Mel ut commune prodesset, semper aperiri labores te usu. Liber vituperata efficiantur et mel.</p>
	</div>
</div>
<div id="misc_descriptions">
	<h3>OK... SO WHAT'S A THOUGHT LOUNGE?</h3>
	<p>A thought lounge is a formatted dialogue in which 4-6 participants each bring 1 topic, which is of utmost interest to him/her and which s/he thinks needs to be talked about, to a designated place. Each participant is given 12 minutes to facilitate a dialogue on the topic (that means you have the podium for 12 minutes. You can make it a full out presentation (powerpoint and all), facilitate an activity, or just write something up on the board and let the dialogue run.) After each topic is given its time, all topics are written up on the blackboard and 12 minutes are given to connect them all. </p>
	<p>I'm still confused. </p>
	<p>You should check out the Thought Lounge Manifesto! </p>
	<h3>... AND WHAT DO I HAVE TO DO TO COME?</h3>
	<ol>
		<li>Sign up above.</li>
		<li>Prepare to facilitate a dialogue for 12 minutes on the topic of utmost interest and urgency to you right now. It can seriously be anything. Here, check out some past topics.</li>
		<li>Read and accept in the deepest part of your soul the Thought Lounge Policy for Dialogue.</li>
		<li>DON'T WORRY ABOUT IT! And read the Thought Lounge Manifesto if you are. You'll feel better. </li>
	</ol>
</div>
<div id="video">
	<h3>Check out our video!</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/YupKK-UTeLk" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}
