{% extends "user.html" %}

{% block title %}
    Thought Lounge
{% endblock %}

{% block welcome_message %}
<script id="welcomeMessageTemplate" type="x-tmpl-mustache">
{% raw %}
    <h2>
        My name is
        <span class="header-primary">{{ firstName }}</span>, and I'm a host for Thought Lounge.
    </h2>
{% endraw %}
</script>
{% endblock %}

{% block picture_control %}
{% endblock %}

{% block register_lounge %}
{% endblock %}

{% block your_upcoming_lounges %}
{% endblock %}

{% block becomehost %}
{% endblock %}

{% block account %} 
{% endblock %}

{% block your_previous_lounges %}
{% endblock %}

{% block edit_bio %}
{% endblock %}

{% block host %}
{% endblock %}

{% block hostmodals %}
{% endblock %}

{% block hostjs %}
{% endblock %}
