{% extends "base.html" %}

{% block content %}
<div class="jumbotron" id="header">
	<h1>The Great Manifesto</h1>
</div>
<div class="container" id="manifesto">
	<div class="col-md-6 col-md-offset-3">
		<div id="quote">
			<div class="header" id="quoteheader">
				<h4>
					<em>
						People have a foundational desire to satisfy a rational part of themselves. They want to know ‘why?’ regardless of whether they know why they want to know ‘why?’
					</em>
				</h4>
			</div>
		</div>
		<div id="background">
			<div class="header" id="backgroundheader">
				<h2>
					A note on the BACKGROUND of the Thought Lounge by one of the guys who accidentally started it…
				</h2>
			</div>
			<div class="mass" id="backgroundmass">
				<h6>
					The idea for thought lounges started because some friends didn’t really want to read the news. It seemed like it would be a lot more fun to each sift through the skew of different sections of the newspaper that we were interested in, then meet up once a week for lunch to present a more objective, condensed version. There are 5 million terabytes of information on the Internet, but figuring out what among the info is interesting and important still far eludes computers, and is the real value of the “get the news idea”. A thought lounge would be a sort of generalized version of the “get the news” idea; the “get what’s important” idea. 
				</h6>
			</div> 
		</div>
		<div id="opp">
			<div class="header" id="opp1header">
				<h2>
					Some OPPORTUNITIES TL aims to take by the balls…
				</h2>
			</div>
			<div class="mass" id="opp1mass">
				<ul>
					<li>
						Cultivate Intellectual Well-Roundedness
					</li>
					<li>
						Inspire Innovation and Creativity through Random Encounters and Get New Perspectives and Ideas on Your Own Field of Interest
					</li>
					<li>
						Make Peace through Dialogue
					</li>
					<li>
						Filter Information Efficiently
					</li>
					<li>
						Foster Intellectual Respect for Peers
					</li>
					<li>
						Learn and Improve Public Speaking Skills
					</li>
					<li>
						Learn to Face Ambiguity Head On
					</li>
					<li>
						Create more Safe Dialogue Spaces
					</li>
					<li>
						EFFICIENTLY Stoke People’s Rational Sides through Dialogue
					</li>
				</ul>
			</div> 
			<div class="header" id="opp2header">
				<h2>
					So the lovely, lofty VISION is…
				</h2>
			</div>
			<div class="mass" id="opp2mass">
				<h6>
					Foster dialogue and keep people’s love of learning fresh. 
				</h6>
			</div> 
		</div>
		<div id="ass">
			<div class="header" id="assheader">
				<h2>
					And the CORE ASSUMPTIONS seem to be…
				</h2>
			</div>
			<div class="mass" id="assmass">
				<ul>
					<li>
						People have a part of themselves that wants to connect with and love others. 
					</li>
					<li>
						People have a rational part of themselves that wants to know ‘why’ regardless of whether they know why they want to know ‘why’. 
					</li>
					<li>
						Everyone has at least 12 minutes worth of material that will either blow your mind or fire up an incredible dialogue.
					</li>
				</ul>
			</div> 
		</div>
		<div id="what">
			<div class="header" id="whatheader">
				<h2>
					But WHAT ARE THOUGHT LOUNGES and how do they do what we want them to do? Bro…
				</h2>
			</div>
			<div class="mass" id="whatmass">
				<h6>
					A thought lounge is a formatted dialogue connecting small groups of diverse individuals on the urgent topics they are passionate about, efficiently and in a “safe space”. So 4-6 participants each bring a topic of utmost interest, which, to them, most needs to be talked about. Each participant is given 12 minutes to facilitate a dialogue or activity on the topic and/or conduct a presentation on his/her topic (12 minutes for both). After each topic is given its time, all topics are written up on the blackboard and 12 minutes are given to connect them all. There are also opening and closing “one breath” rituals in which participants affirm their agreement to the 5 Agreements for Dialogue during the thought lounge and say how they’re feeling and what they’re thinking about.
				</h6>
			</div> 
		</div>
		<div id="topic">
			<div class="header" id="topicheader">
				<h2>
					More on TOPICS…
				</h2>
			</div>
			<div class="mass" id="topicmass">
				<ol>
					<li>
						Topics should be of utmost interest to each participant in his/her life. It should be the thing s/he thinks about in the shower or wishes s/he had more time to think about. Topics have ranged from the Dynamic Stochastic General Equilibrium economic model, to surfboard shaping, to the history of the foundations of mathematics, to jazz, to “what is absolute truth?”, to the difference between romantic love and other types of love.  
					</li>
					<li>
						Topics should be felt to have urgency to be talked about. There should be a clear question underlying each topic, and during the presentation this question should be directly stated as an invitation to inquiry to initiate the dialogue. Each topic MUST include dialogue. It is up to the presenter how much of his 12 minutes s/he wishes to delegate to the presentation and dialogue.
					</li>
					<li>
						Let this be easy!!! It should be what you want to talk about not what you think that others think you should want to talk about (if that makes sense). You can even just write a question up on the board, then sit down and make the dialogue run.
					</li>
				</ol>
			</div> 
		</div>
		<div id="safe">
			<div class="header" id="safeheader">
				<h2>
					DEFINING A "SAFE SPACE" FOR DIALOGUE... Without permission...
				</h2>
			</div>
			<div class="mass" id="safemass">
				<h6>
					A safe space for dialogue is one in which everyone feels secure to express what they feel and think without filter. Dialoguers trust that fellow dialoguers do not threaten them. How could this happen? They agree to listen to each other as if the speaker is the most important person in the world at that moment, and the speaker respects the listener by presenting with his heart. They use neutral body language and do their best to suspend judgment. Dialoguers mutually understand that when ideas collide in the dialogue, it is not one another’s selves which disagree, just the ideas. Finally, dialoguers are aware that everyone must speak, otherwise there is no communication at all. 
				</h6>
			</div> 
		</div>
		<div id="howsafe">
			<div class="header" id="howsafeheader">
				<h2>
					HOW TL CREATES A SAFE SPACE… Mercilessly…
				</h2>
			</div>
			<div class="mass" id="howsafemass">
				<h6>
					To achieve such a safe space in a thought lounge, the host makes sure that all loungers agree to the “5 Agreements for Dialogue” (below) which specify what we talked about above.
				</h6>
				<ol>
					<li>
						<em>Listen:</em> Participants of a thought lounge respect each other by listening to the current presenter as if s/he is the most important person in the world at that moment.
					</li>
					<li>
						<em>Appear to suspend judgment/neutral body language:</em> When a participant is talking, body language of other participants is neutral to ensure that the ideas being divulged are exactly the perspective of the speaker.
					</li>
					<li>
						<em>Harmony not at the expense of creative conflict:</em> When participants agree/disagree with each other, it is mutually understood that they are agreeing/disagreeing with each other’s ideas, not each other’s entire selves, unless specified.
					</li>
					<li>
						<em>Present from the heart:</em> While a participant is giving his/her presentation, they are to strive to relay what makes the subject important, and why it must be talked about. There should be a clear invitation to inquiry in each presentation. The presentations are not meant to be lectures with no possibility for falsification. 
					</li>
					<li>
						<em>Equity of voice:</em> A participant (besides the presenter) mustn’t talk for more than a minute at a time to ensure all perspectives have time to be placed on the table.
					</li>
				</ol>
			</div> 
		</div>
		<div id="capital">
			<div class="header" id="capitalheader">
				<h2>
					HOW TL CAPITALIZES ON THE OPPORTUNITIES... Finally beating that bush...
				</h2>
			</div>
			<div class="mass" id="capitalmass">
				<ul>
					<li>
						<em>Cultivate Intellectual Well-Roundedness</em> Thought loungers are exposed to 5 new topics in under 90 minutes, from other participants purposefully chosen to be diverse from them. 
					</li>
					<li>
						<em>Inspire Innovation and Creativity through Random Encounters and Get New Perspectives and Ideas on Your Own Field of Interest</em>  Thought lounge is like the ultimate cocktail party. The connection section is a prime opportunity for each lounger to get a tangential perspective on his/her interest. It’s exactly this randomness that fosters creativity and innovation.
					</li>
					<li>
						<em>Make Peace through Dialogue</em>  Thought lounges pull together diverse and, often, conflicting perspectives of strangers. Through dialogue, they either find common ground or explore the other peoples backgrounds until participants can envision themselves having arrived in the other’s shoes. It’s not so hard to make peace when one can see himself/herself so clearly in another.
					</li>
					<li>
						<em>Filter Information Efficiently</em>  “Topic of interest” is code word for doing the work to sift through the 5 million terabytes of information out there to determine what is important. Each lounger does this for the 5 others.
					</li>
					<li>
						<em>Foster Intellectual Respect for Peers</em>  Loungers talk about what they are “conversational experts” on, leading one another to the interesting questions that got them hooked on the topic. Then, without even thinking about it, loungers regard each other as teachers, and thus equals.
					</li>
					<li>
						<em>Learn and Improve Public Speaking Skills</em>  Thought lounges give participants the podium and full attention of others for 12 minutes.
					</li>
					<li>
						<em>Learn to Face Ambiguity Head On</em>  Thought lounges provide a community that promotes participants to confront what is of utmost interest and importance to them and are asked to contribute to dialogue on the challenges that are at the frontier of diverse and foreign fields.
					</li>
					<li>
						<em>Create more Safe Dialogue Spaces</em>  Thought lounges are safe spaces as we talked about them above in “Defining a Safe Space …”
					</li>
					<li>
						<em>Efficiently Stoke People’s Rational Sides through Dialogue</em>  Under 90 minutes with 5 strangers talking about their most passionate subjects. It’s rational stoke efficiency overdose.      
					</li>
				</ul>
			</div> 
		</div>
		<div id="stat">
			<div class="header" id="statheader">
				<h2>
					And the MISSION STATEMENT. Golly, I hope it makes sense by now…
				</h2>
			</div>
			<div class="mass" id="statmass">
				<h6>
					Thought Lounge aims to foster dialogue and keep people’s love of learning fresh by promoting thought lounges: formatted dialogues connecting small groups of diverse individuals on the urgent topics they are passionate about, efficiently and in a "safe space".
				</h6>
			</div> 
		</div>
	</div>
</div>

{% endblock %}